.section {
  padding: 5rem 0;

  &--p0 {
    padding: 0;
  }
  &--pt0 {
    padding-top: 0;
  }
  &--pb0 {
    padding-bottom: 0;
  }

  // &--bgc-gray {
  //   background-color: #e4e4e4;
  // }

  &--gradient {
    min-height: 220px;
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
    }

    &:before {
      top: 0;
      background: linear-gradient(to top,#fff,#e9ecee);
      height: 92px;
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to top,#e9ecee,#fff);
      height: 62px;
    }
  }

  &--gray {
    position: relative;
    background-color: #e9e9ea;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      z-index: 1;
      height: 12px;
      opacity: .25;
    }

    &:before {
      top: 0;
      background: linear-gradient(to top,transparent,#3e5669);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(to top,#3e5669,transparent);
    }
  }



}