.logo {
  &__link {}
  &__img {}
}

.back-to-top {
  position: fixed;
  z-index: 50;
  bottom: 40px;
  right: 40px;
  display: none;
  cursor: pointer;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: fadeInUp;

  &__inner {
    background: $primary_color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .3s;
    text-align: center;
    position: relative;
  }

  &__icon {
    fill: #fff;
    height: 24px;
    width: 24px;
    @include absolute-center();
  }

  &.is-active {
    display: block;
  }

  &:hover .back-to-top__inner {
    opacity: .7;
  }
}

.breadcrumb {
  background-color: transparent;
  font-size: 12px;
  font-weight: 300;
  padding: 2.5rem 0 0;

  a {
    color: #b3b3b3;
    text-decoration: underline;
  }

  & > li + li::before {
    content: "\003E";
  }

  & > li:last-child a {
    color: #000;
    text-decoration: none;
  }
}


.seller {
  font-size: 1.8rem;

  @media screen and (max-width: $break_xs) {
    text-align: center;
  }

  &__img {
    margin-bottom: 1.5rem;

    @media screen and (max-width: $bs_break_sm) {
      float: left;
      margin-right: 30px;
    }

    @media screen and (max-width: $break_xs) {
      float: none;
      margin: 0 auto 1.5rem;
      text-align: center;
    }
  }

  &__name {
    font-weight: 900;
    text-align: center;
  }

  &__post {
    text-align: center;
  }

  &__text {
    margin: 3rem 0;
  }

  a {
    color: #000;
    font-size: 1.6rem;
    text-decoration: underline;
  }
}

.pagination-wrap {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.pagination {
  color: #a2a2a2;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;

  & > li {
    & > span, & > a {
      border: none;
      color: #a2a2a2;
    }

    &:first-child > span, &:first-child > a,
    &:last-child > span, &:last-child > a {
      border-radius: 0;
    }

    &.active span,
    &.active span:hover {
      color: #ffffff;
      background-color: #a8a8a8;
    }
  }

}

.limit-per-page {
  display: flex;
  align-items: center;
  max-width: 200px;

  label {
    white-space: nowrap;
    margin-right: 1.5rem;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 300;
  }
  select.form-control {
    font-size: 1.6rem;
    padding: .5rem;
  }
}


.product-manufacturer a {
  color: #000;
}