.site-title {
  font-size: 4.3rem;
  font-weight: 400;
  text-transform: uppercase;

  @media screen and (max-width: $break_xs) {
    font-size: 3rem;
  }
}

.section-title {
  color: #a9a9a9;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.04rem;
  margin-bottom: 3rem;

  &--black {
    color: #000;
  }
}
