.site-title {
  color: #000;
  font-size: 5.5rem;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (max-width: $break_xs) {
    font-size: 5rem;
  }
}

.section-title {
  color: #000;
  font-size: 4.8rem;
  font-weight: 900;
  text-transform: uppercase;
}
