.site-title {
  color: #000;
  font-size: 5.5rem;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (max-width: 650px) {
    font-size: 4.5rem;
  }
}

.section-title {
  color: #000;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  word-wrap: break-word;

  @media screen and (max-width: $break_xs) {
    font-size: 3.8rem;
  }

  &--white {
    color: #fff;
  }

  &--nocaps {
    text-transform: none;
  }
}

.section-subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-align: center;

  &--white {
    color: #fff;
  }
}

.h3-title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.widget-title {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: left;
  border-bottom: 1px solid #000;
  padding-bottom: 2rem;
}

.mf-title {
  color: #000;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

