.accordion {
  &__title {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    padding: 5px 10px;
    border: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      content: '\002B';
      color: #777;
      margin-left: 5px;
    }

    &:hover {
      background-color: #ccc;
    }

    &.is-active {
      background-color: #ccc;
      &:after {
        content: "\2212";
      }
    }
  }

  &__panel {
    padding: 0 18px;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}

