.ul-list {
  font-size: 18px;
  // font-weight: 400;
  letter-spacing: 0.36px;
  line-height: 25px;

  &--square {
    li {
      position: relative;
      padding-left: 25px;

      &:before {
        content: "";
        background: #000;
        width: 9px;
        height: 9px;
        display: block;
        position: absolute;
        left: 0;
        top: 4px;
      }
    }
  }

  &--white {
    color: #fff;
    li:before {

      background: #fff;
    }
  }
}

ol li {
  list-style: decimal;
}


.pages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  li {
    display: inline;
    margin-right: 1px;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    padding: .4rem 1rem;
    margin-bottom: .5rem;
    text-align: center;
    display: inline-block;
    min-width: 173px;
    color: #000;
    border: 1px solid #000;
    font-size: 10px;

    &:hover {
      color: $primary_color;
      border-color: $primary_color;
      text-decoration: none;
    }
  }
}

.anchor-list {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;

  li {
    display: inline;
    margin-right: 1px;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    padding: .4rem 1rem;
    // margin-bottom: .5rem;
    text-align: center;
    display: inline-block;
    // min-width: 173px;
    color: #000;
    border: 1px solid $primary_color;
    background: $primary_color;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;

    &:hover {
      color: #fff;
      border-color: #000;
      background-color: #000;
      text-decoration: none;
      opacity: 1;
    }
  }
}



