section#top.section.s-top
  .container
    .s-top__text
      h1.site-title Ответьте на 5 вопросов и получите расчет стоимости кровли в один клик

      p.fz2rem Это сэкономит время для подбора нужных материалов, расчета количества и стоимости монтажа

      a.btn.btn--orange.btn--dib.btn--bold(href="http://#popup:marquiz_5c7504e7f0e2b5004468b3ed") Получить расчет

      p Тест содержит <span><b>5 вопросов</b></span> о вашей специфике и проходится в среднем <span><b>за 2 минуты.</b></span>
    .s-top__image

  .container
    h2.site-subtitle Яркая индивидуальность вашего дома - наша работа. Персональный подход к каждому, качество материала и работ, гарантии по договору

  .container
    .advantage
      .advantage__item Трезвые надежные монтажники
      .advantage__item Сроки и сумма фиксируются в договоре
      .advantage__item Гарантия на работы и материалы от 3 лет

    .garant-text Гарантия сроков - вернем 1% от сметы за каждый день просрочки

