// ЦВЕТА
$color_text: #222;

$primary_color: #398860;
$secondary_color: #4b4b4b;

// РАЗМЕРЫ
$baseFontSize: 10px;


// ШРИФТЫ
//////// Fonts
//// web-safe fonts:
// "Arial Black", "Helvetica CY", "Nimbus Sans L" sans-serif;
// Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
// "Comic Sans MS", "Monaco CY", cursive;
// "Courier New", "Nimbus Mono L", monospace;
// Georgia, "Century Schoolbook L", Serif;
// Impact, "Charcoal CY", sans-serif;
// "Lucida Console", Monaco, monospace;
// "Lucida Sans Unicode", "Lucida Grande", sans-serif;
// "Palatino Linotype", "Book Antiqua", Palatino, serif;
// Tahoma, "Geneva CY", sans-serif;
// "Times New Roman", "Times CY", "Nimbus Roman No9 L", serif;
// "Trebuchet MS", "Helvetica CY", sans-serif;
// Verdana, "Geneva CY", "DejaVu Sans", sans-serif;

$global_ff1: "Fira Sans", sans-serif;
