header.site__header.header
  .container
    .header__inner
      a(href="/").header__logo.header-block
        .header-block__title Монтаж кровли
        .header-block__text по Москве и области

      a.header__email(href="mailto:info@rooferr.ru") info@rooferr.ru

      a.header__phone.header-block(href="tel:84952350330")
        .header-block__title 8 (495) 235-03-30
        .header-block__text строительный бригадир


