.header-cart {
  display: flex;

  @media screen and (max-width: $bs_break_xs) {
    justify-content: flex-end;
  }


  &__left-col {
    width: 76px;
    margin-right: 7px;
    font-size: 12px;

    // временно:
    a {
      display: block;
      border: 1px solid $primary_color;
      text-align: center;
      margin-bottom: 4px;
      padding: 3px 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__right-col {
    width: 132px;
  }
  
  &__btn {
    color: #000;
    font-size: 12px;
    font-weight: 100;
    line-height: 15px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid $primary_color;
    padding: 10px;
    padding-left: 50px;
    width: 132px;
    position: relative;

    &:hover {
      // .header-cart__icon {}
      & > .icon {
        fill: $primary_color;
      }
    }
  }

  &__total {}

  &__text {
    font-size: 10px;
    text-decoration: underline;
    text-align: left;
  }

  &__icon {
    width: 29px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    transition: all .3s;
  }



  .dropdown-menu {
    padding: 1rem;
    min-width: 290px;
    max-width: 700px;
    width: 60vw;

    .btn-danger {
      padding: 5px;
    }
  }
}