.header {
  color: #000;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;

  a {
    color: #000;

    &:hover {
      color: $primary_color;
      text-decoration: none;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media screen and (max-width: $bs_break_xs) {
      display: block;
      text-align: right;
    }
  }

  &__top {
    border-bottom: 1px solid $primary_color;
  }

  &__logo {
    height: 40px;

    @media screen and (max-width: $bs_break_xs) {
      max-width: 95px;
    }

    .logo__link {
      position: relative;
      z-index: 10;
    }
  }

  &__top-menu {
    li {
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      &.active,
      &:active {
        a {
          color: $primary_color;
        }
      }
    }

    @media screen and (max-width: $bs_break_md) {
      display: none;
    }
  }

  &__cart {
    position: absolute;
    top: 8px;
    right: 0;
    background: #fff;
    padding: 5px;

    @media screen and (max-width: $bs_break_xs) {
      position: static;
    }
  }


  &__bottom {
    padding: 10px 0;
  }

  &__bottom-menu {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $bs_break_md) {
      display: none;

      &.mob-menu-is-open {
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 0;
        right: 0;

        background: #fff;
        border-radius: 4px;
        border: 1px solid $primary_color;
        padding: 2.5rem;
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      }
    }

    li {
      @media screen and (max-width: $bs_break_md) {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    a {
      font-size: 14px;
      font-weight: 900;
    }


    li.active,
    li:active {
      a {
        color: $primary_color;

        // @media screen and (max-width: $bs_break_md) {
        //   opacity: .8;
        //   color: #000;
        // }
      }
    }

    // li a:hover {
    //   @media screen and (max-width: $bs_break_md) {
    //     opacity: .7;
    //     color: #000;
    //   }
    // }
  }

  &__mob-menu-btn {
    display: none;

    @media screen and (max-width: $bs_break_md) {
      display: block;
    }
  }

}