.btn,
a.btn {
  display: block;
  cursor: pointer;
  transition: all .3s;
  text-decoration: none;

  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  // border-radius: 4px;

  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  
  &:hover {
    opacity: .8;
  }

  &--dib {
    display: inline-block;
  }

  &--bold {
    font-weight: 900;
  }

  &--orange {
    background-color: $primary_color;
    border-color: $primary_color;
  }
}