.company-reviews-list {
  columns: 3;

  li {
    margin-bottom: 1rem;
  }

  a {
    color: #000;
    font-size: 1.8rem;
    font-weight: 300;
    // line-height: 3.3rem;
    text-decoration: underline;
  }
}

.company-review-date {
  font-size: 1.8rem;
}

.company-review-author {
  font-size: 1.8rem;
}

.company-review-thumb {
  margin: 2rem 0;
}

.company-review-info {
  font-size: 1.8rem;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 3rem;
  @media screen and (max-width: $bs_break_xs) {
    display: block;
  }

  & > * {
    line-height: 2.6rem;
  }

  &__icon {
    width: 2.6rem;
    height: 2.6rem;
    display: inline-block;
    margin-right: 2rem;
    position: relative;
    z-index: 1;
    top: .5rem;
    left: 0;
  }
}


.img-stages {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 3rem;
  margin-bottom: 3rem;

  &__title {
    font-weight: 900;
    text-transform: uppercase;
    // margin-bottom: 3rem;
    grid-column-start: 1;
    grid-column-end: 10;
  }

  &__img {
    grid-column-start: 1;
    grid-column-end: 7;

    @media screen and (max-width: $bs_break_xs) {
      grid-column-end: 10;
    }
    
    img {
      width: 100%;
    }

  }

  &__text {
    font-weight: 300;
    // margin-bottom: 3rem;
    padding-bottom: 4rem;
    grid-column-start: 7;
    grid-column-end: 10;

    @media screen and (max-width: $bs_break_xs) {
      grid-column-start: 1;
    }

    &:after {
      content: "";
      display: block;
      border-bottom: 1px solid #000;
      margin-top: 4rem;
    }
  }
}

