.section-calculate-the-cost-2 {
  text-align: center;

  .section-title {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.46px;
    line-height: 1.2em;
    margin-bottom: 1.5rem;
  }

  a[href^="tel:"] {
    color: inherit;
    text-decoration: underline;
    font-weight: 900;
  }
}