.tabs {

  &__links {
    padding-bottom: 20px;
    font-size: 0;
  }
}

.tab {

  &__link {
    cursor: pointer;
    border: 0;
    display: inline-block;
    padding: 15px 20px;
    margin-right: 0;
    transition: 0.3s;
    background-color: $primary_color;
    font-size: 16px;
    font-weight: 700;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .7;
    }

    &.is-active {
      background-color: #000;
      color: #fff;
    }
  }

  &__content {
    display: none;
    padding: 20px 10px;
    animation: fadeIn 1s;

    &.is-active {
      display: block;
    }
  }

  &__content-title {
    color: #000;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    word-wrap: break-word;

    @media screen and (max-width: $break_xs) {
      font-size: 3.8rem;
    }

  }
}


.tab-content {
  padding: 0;

  &__top {
    margin-bottom: 70px;
  }

  &__icon {
    float: left;
    .icon {
      height: 10rem;
      width: 10rem;
      margin-right: 5rem;
      fill: $primary_color;
    }
  }

  &__title {
    margin-left: 15rem;
    color: #000;
    font-size: 4rem;
    word-wrap: break-word;

    @media screen and (max-width: $break_xs) {
      font-size: 3.8rem;
    }
  }

  &__title-text {
    font-weight: 900;
    text-transform: uppercase;

  }

  &__title-subtitle {
    font-weight: 100;
  }

  &__desc {
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 3rem;
  }
}



// .tabs--prod {
//   .tabs__links {
//     border-bottom: 1px solid #000;
//     padding-bottom: 0;
//   }

//   .tab {

//     &__link {
//       padding: .4rem 1rem;
//       margin-right: 7px;
//       font-size: 10px;
//       font-weight: 300;
//       text-transform: uppercase;
//       border: 0;
//     }

//     &__content {
//       // display: none;
//       // padding: 20px 10px;
//       // animation: fadeIn 1s;
//     }
//   }
// }


