@import './utils/_fonts';
@import './utils/_vars';
@import './utils/_smart-grid';
@import './utils/_mixins';
@import './utils/_libs';


html {
  font-size: 10px;
  @media screen and (max-width: $bs_break_md) {
    font-size: 9px;
  }

  @media screen and (max-width: $bs_break_sm) {
    font-size: 8px;
  }

  @media screen and (max-width: $bs_break_xs) {
    font-size: 7px;
  }
}

body {
  font-family: $global_ff1;
  font-size: 1.4rem;
  color: $color_text;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-style: none;
  height: auto;
}

.img--cover {
  object-fit: cover;
  max-width: none;
  overflow: hidden;
}

// .img--box {
//   position: relative;
//   overflow:hidden;
// }
// .img--box-cover {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }


textarea:focus,
input:focus {
  outline: none;
}

a {
  transition: all .3s;
  &:hover {
    opacity: .7;
  }

  &[href^="tel:"] {
    white-space: nowrap;
  }
}

p {
  color: $color_text;
  font-size: 1.8rem;
}

b {
  font-weight: 900;
}

hr,
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primary_color;
  margin: 0 auto;
  padding: 0;

  &--black {
    border-color: #000;
  }
}


.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header {}
  &__content {
    flex-grow: 1;
    margin-bottom: 5rem;
  }
  &__footer {}

  // &:not(.common-home, .no-grey-line) .site__header {
  // &:not(.common-home) .site__header,
  &:not(.no-grey-line) .site__header {
    border-bottom: 61px solid #e4e4e4;
  }
}




// pngSprite
[class*="ico-"] {
  display: inline-block;
  vertical-align: middle;
}
@import './utils/sprite';
@include sprites($spritesheet-sprites);






//Модули
@import "./modules/_modules";


.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.text-gray {
  color: #9c9c9c;
}
.text-bold {
  font-weight: 900;
}
.flr {
  float: right;
}


@media screen and (min-width: $bs_break_md) {
  .pull-l-lg { float: left; }
  .pull-r-lg { float: right; }
  .text-right-lg { text-align: right; }
  .text-left-lg { text-align: left; }
  .text-center-lg { text-align: center; }
}
@media screen and (min-width: $bs_break_sm) and (max-width: $bs_break_md) {
  .pull-l-md { float: left; }
  .pull-r-md { float: right; }
  .text-right-md { text-align: right; }
  .text-left-md { text-align: left; }
  .text-center-md { text-align: center; }
}
@media screen and (min-width: $bs_break_xs) and (max-width: $bs_break_sm) {
  .pull-l-sm { float: left; }
  .pull-r-sm { float: right; }
  .text-right-sm { text-align: right; }
  .text-left-sm { text-align: left; }
  .text-center-sm { text-align: center; }
}
@media screen and (min-width: $break_xs) and (max-width: $bs_break_xs) {
  .pull-l-xs { float: left; }
  .pull-r-xs { float: right; }
  .text-right-xs { text-align: right; }
  .text-left-xs { text-align: left; }
  .text-center-xs { text-align: center; }
}

@media screen and (max-width: $break_xs) {
  .pull-l-xxs { float: left; }
  .pull-r-xxs { float: right; }
  .text-right-xxs { text-align: right; }
  .text-left-xxs { text-align: left; }
  .text-center-xxs { text-align: center; }
}



/******************** СТРАНИЦЫ ********************/
// Главная страница
@import './pages/index/_index';

// Страница контактов
@import './pages/contact/_contact';

// Главная страница для фундамента
@import './pages/fund-index/_fund-index';

// Корзины
@import './pages/cart/_cart-index';

// Главная страница для кровли
@import './pages/roof-index/_roof-index';

// thank-you page
@import './pages/thank-you/_thank-you';






