@import './utils/_fonts';
@import './utils/_vars';
@import './utils/_smart-grid';
@import './utils/_mixins';
@import './utils/_libs';


html {
  font-size: 10px;
  @media screen and (max-width: $bs_break_md) {
    font-size: 9px;
  }

  @media screen and (max-width: $bs_break_sm) {
    font-size: 8px;
  }

  @media screen and (max-width: $bs_break_xs) {
    font-size: 7px;
  }
}

body {
  font-family: $global_ff1;
  font-size: 1.4rem;
  color: $color_text;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  border-style: none;
  height: auto;
}

.img--cover {
  object-fit: cover;
  max-width: none;
  overflow: hidden;
}


textarea:focus,
input:focus {
  outline: none;
}

a {
  transition: all .3s;
  &:hover {
    opacity: .7;
  }
}

p {
  color: $color_text;
  font-size: 1.8rem;
}

b {
  font-weight: 900;
}

hr,
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $primary_color;
  margin: 0 auto;
  padding: 0;

  &--black {
    border-color: #000;
  }
}


.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__header {}
  &__content {
    flex-grow: 1;
    margin-bottom: 5rem;
  }
  &__footer {}

  &:not(.common-home) .site__header {
    border-bottom: 61px solid #e4e4e4;
  }
}




// pngSprite
[class*="ico-"] {
  display: inline-block;
  vertical-align: middle;
}
@import './utils/sprite';
@include sprites($spritesheet-sprites);






//Модули
@import "./modules/_modules";


.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.text-gray {
  color: #9c9c9c;
}
.text-bold {
  font-weight: 900;
}


/******************** СТРАНИЦЫ ********************/
// Главная страница
@import './pages/index/_index';
@import './pages/contact/_contact';




