header.site__header.header
  .container
    .header__inner
      .header__logo.logo
        a(href="/").logo__link
          img(src="img/logo.png").logo__img
      .header__menu
        include ../modules/menu
